{% extends "office/layout.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% block head %}
   {% leaflet_js plugins="forms" %}
   {% leaflet_css plugins="forms" %}
{% endblock %}
{% block title %} {% trans "New Issue" %}{% endblock %}
{% block content %}
 <div class="container">
  <h2 class="mt-4">{% trans "New Issue" %}</h2>
  <div>
    <form action="" method="post" enctype="multipart/form-data">
      {%csrf_token%}
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.author_email|as_crispy_field }}
          {{ form.category|as_crispy_field }}
          {{ form.photo|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.description|as_crispy_field }}
        </div>
      </div>
      {{ form.position|as_crispy_field }}
      <div class="form-group has-errors text-danger small">
          {{form.position.errors}}
      </div>
      <button type="submit" class="btn btn-success">{% trans "Create Issue" %}</button>
    </form>
  </div>
</div>
{% endblock %}
