{% extends "office/layout.html" %}
{% load static %}
{% load i18n %}
{% load leaflet_tags %}
{% block head %}
  {% leaflet_js %}
  {% leaflet_css %}
  <script type="text/javascript">
    function map_init_basic (map, options) {
        //Setup leaflet map
        layer = L.geoJSON({{ position_geojson|safe }}).addTo(map);
        map.fitBounds(layer.getBounds());
        //centerLeafletMapOnMarker(map, marker);
    }
    function centerLeafletMapOnMarker(map, marker) {
      var latLngs = [ marker.getLatLng() ];
      var markerBounds = L.latLngBounds(latLngs);
      map.fitBounds(markerBounds);
    }
  </script>
{% endblock %}
{% block title %} #{{ issue.id }}{% endblock %}
{% block content %}
<div class="container">
  <h2 class="mt-4">
    {% if issue.priority == 3 %}
      <i class="fa fa-warning" aria-hidden="true"></i>
    {% elif issue.priority == 1 %}
      <i class="fa fa-arrow-down" aria-hidden="true"></i>
    {% endif %}
    {% trans "issue" %} {{ issue.id }}
    {% if issue.published %}
      <i class="fa fa-eye" aria-hidden="true" title='{% trans "public visible" %}'></i>
    {% else %}
      <i class="fa fa-eye-slash" aria-hidden="true" title='{% trans "not public visible" %}'></i>
    {% endif %}
  </h2>
  <p>{{ issue.category }}</p>
  
  <!-- Menus-->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#base">{% trans "Base" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#comments">{% trans "Comments" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#feedback">{% trans "Feedback" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#history">{% trans "History" %}</a>
    </li>
  </ul>

  <!-- Content Panes-->
  <div class="tab-content">
    <div class="tab-pane container active" id="base">
      <div class="row">
        <div class="col-md-8">
          <p title="{{ issue.created_at }}">{% trans "Author" %}: 
              {% if author_trust_string == 'external' %}
                  <i class="fa fa-user-circle" aria-hidden="true" title="{% trans author_trust_string %}"></i>
              {% elif author_trust_string == 'internal' %}
                  <i class="fa fa-institution" aria-hidden="true" title="{% trans author_trust_string %}"></i>
              {% elif author_trust_string == 'fieldteam' %}
                  <i class="fa fa-user-secret" aria-hidden="true" title="{% trans author_trust_string %}"></i>
              {% endif %}
              {% trans '(removed)' as trans_empty_email %}
              {{ issue.author_email|default_if_none:trans_empty_email }}
              &nbsp
              {{ issue.created_at|date:"SHORT_DATE_FORMAT" }}
          </p>
          <q class="usertext">{{ issue.description }}</q>
          {% leaflet_map "issuemap" callback="window.map_init_basic" %}
          <!-- #TODO: Enable settings as overview map, overlays, ... -->
          {% trans '(unknown)' as trans_unkown_location %}
          <p>{% trans "Location" %}: {{ issue.location|default_if_none:trans_unkown_location }}</p>
          <p>{% trans "Landowner" %}: {{ issue.landowner }}</p>
          <div class="bg-info">
              <p>{% trans "Status" %}: 
                  {% if status_string == 'submitted' %}
                      <i class="fa fa-share" aria-hidden="true" title="{% trans status_string %}"></i>
                  {% elif status_string == 'review' %}
                      <i class="fa fa-check-square" aria-hidden="true" title="{% trans status_string %}"></i>
                  {% elif status_string == 'wip' %}
                      <i class="fa fa-gears" aria-hidden="true" title="{% trans status_string %}"></i>
                  {% elif status_string == 'solved' %}
                      <i class="fa fa-flag-checkered" aria-hidden="true" title="{% trans status_string %}"></i>
                  {% elif status_string == 'impossible' %}
                      <span class="fa-stack fa-lg" title="{% trans status_string %}">
                          <i class="fa fa-flag-checkered"></i>
                          <i class="fa fa-ban fa-stack-2x text-danger"></i>
                      </span> 
                  {% elif status_string == 'dublicate' %}
                      <i class="fa fa-copy" title="{% trans status_string %}"></i>
                  {% endif %}
                  {% trans status_string %} - {% trans "since" %} {{ issue.status_created_at }}
              </p>
              <p>{% trans "Status Text" %}:
                  <q class="usertext">{{ issue.status_text|default_if_none:"(no text)" }}</q>
              </p>
              <p>
              {% trans '(not assigned)' as trans_not_assigned %}
              {% trans "Assigned" %}: {{ issue.assigned.name|default_if_none:trans_not_assigned }}
              {% if issue.delegated %}
                  <b>({% trans "delegated" %}: {{ issue.delegated }})</b>
              {% endif %}
              </p>
          </div>
        </div>
        {% if issue.photo %}
        <div class="col-md-4">
          <img class="img-thumbnail" style="width:90%" src="{% get_media_prefix %}{{ issue.photo }}"/>
        </div>
        {% endif %}
      </div>
    </div>
    
    <div class="tab-pane container" id="comments">
      <h3>{% trans "Internal Comments" %}</h3>
      {% for comment in issue.comments.all %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{comment.author}} <small><i>{% trans "Posted on" %} {{comment.created_at|date:"SHORT_DATE_FORMAT" }}</i></small></h3>
            <div class="btn-group pull-right">
              <a href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></i></a>
              <a href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></i></a>
            </div>
          </div>
          <div class="panel-body">
            <q>{{comment.content}}</q>
          </div>
        </div>
      {% endfor %}
    </div>
    
    <div class="tab-pane container" id="feedback">
      <h3>{% trans "Public Feedback" %}</h3>
      {% for feedback in issue.feedbacks.all %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{feedback.authorEmail}} <small><i>{% trans "Written on" %} {{feedback.created_at|date:"SHORT_DATE_FORMAT" }}</i></small></h3>
          </div>
          <div class="panel-body">
            <q>{{feedback.content}}</q>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="tab-pane container" id="history">
      <h3>{% trans "History" %}</h3>
      <p>(here list alls edit history items)</p>
    </div>
  </div
</div>
{% endblock %}
