{% extends "office/layout.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load leaflet_tags %}
{% block head %}
  {% leaflet_js %}
  {% leaflet_css %}
  <script type="text/javascript">
  function map_init_basic (map, options) {
      //Setup and fill leaflet map
      layer = L.geoJSON();
      {% for issue in filter.qs %}
          geojson={
          "type": "Feature",
          "properties": { "id": "{{ issue.id }}",
                          "category": "{{ issue.category }}",
                          "status": "{{ issue.status }}",
                          "createdat": "{{ issue.created_at|date:"SHORT_DATE_FORMAT" }}",
                          "priority": "{{ issue.get_priority_display }}",
                          "status": "{{ issue.get_status_display }}",
                          "trust": "{{ issue.get_author_trust_display }}"
                          // # TODO: type idea / problem / tipp
          },
          "geometry": {{ issue.position.geojson|safe }}
          };
          marker = layer.addData(geojson);
      {% endfor %}
      layer.bindTooltip(function (layer) { 
        prop = layer.feature.properties;
        return '<b>' + prop.id + '</b><br>'+ prop.category + '<br>' + prop.createdat
      });
      layer.addTo(map);
      layer.on("click", function (event) {
          var clickedMarker = event.layer.feature;
         window.open('issue/' + clickedMarker.properties.id);
      });
      //Workaround to fix issues within Bootstrap tab
      var homeTab = document.getElementById('maptab');
      var observer1 = new MutationObserver(function(){
        if(homeTab.style.display != 'none'){
          map.invalidateSize();
          map.fitBounds(layer.getBounds());
        }
      });
      observer1.observe(homeTab, {attributes: true});
  }
  </script>
{% endblock %}
{% block title %} {% trans "Issues" %}{% endblock %}
{% block content %}
<h1 class="mt-4">{% trans "Issues" %}</h1>
{% trans "All issues assigned to your groups" %}
{% if filter %}
   <div id="accordion">
      <div class="card">
        <div class="card-header">
          <a class="card-link" data-toggle="collapse" href="#collapseFilters">{% trans "Filter" %}</a>
        </div>
        <div id="collapseFilters" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <form action="" method="get">
              <div class="form-group mx-sm-3 mb-2">
                {{filter.form|crispy}}
              </div>
              <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
            </form>
            </div>
        </div>
      </div>
  </div>
{% endif %}
  <!-- Tab Menus-->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tabletab">{% trans "Table" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#maptab" id="mapbutton">{% trans "Map" %}</a>
    </li>
  </ul>

  <!-- filtered Table-->
  <div class="tab-content">
    <div class="tab-pane container active" id="tabletab">
      {% render_table table %}
    </div>
    <div class="tab-pane container fade" id="maptab">
      {% leaflet_map "issuesmap" callback="window.map_init_basic" %}
      <!-- #TODO: Enable settings as overview map, overlays, ... -->
    </div>
  </div>
  
{% endblock %}
