{% extends "office/base.html" %}
{% load i18n %}
{% block page %}
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Klarschiff.HRO</div>
      <div class="list-group list-group-flush">
        <a href="{% url 'office:start' %}" class="list-group-item list-group-item-action bg-light">
            <i class="fa fa-home fa-fw" aria-hidden="true"></i> Start
        </a>
        <a href="{% url 'office:issues' %}" class="list-group-item list-group-item-action bg-light">
            <i class="fa fa-book fa-fw" aria-hidden="true"></i> {% trans "Issues" %}
        </a>
        <a href="{% url 'office:createissue' %}" class="list-group-item list-group-item-action bg-light">
            <i class="fa fa-plus fa-fw" aria-hidden="true"></i> {% trans "new Issue" %}
        </a>
        <a href="#" class="list-group-item list-group-item-action bg-light">
            <i class="fa fa-envelope fa-fw" aria-hidden="true"></i> {% trans "Feedbacks" %}
        </a>
        <a href="#" class="list-group-item list-group-item-action bg-light">
            <i class="fa fa-comments fa-fw" aria-hidden="true"></i> {% trans "Comments" %}
        </a>
        <a href="#" class="list-group-item list-group-item-action bg-light">
            <i class="fa fa-question-circle fa-fw" aria-hidden="true"></i> {% trans "Help" %}
        </a>
        <small class="text-muted">ver. 0.1 (painbox)</small>
      </div>
    </div>

    <!-- Content pane with Navbar menu -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <form class="form-inline" method="get" action="{% url 'office:issues' %}">
          <input class="form-control mr-sm-2" type="search" name="id" placeholder="{% trans "ID ..." %}" aria-label="Search">
          <button class="btn btn-default my-2 my-sm-0" type="submit">{% trans "Search" %}</button>
        </form>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user.get_username }}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'logout' %}">
                  <i class="fa fa-power-off" aria-hidden="true"></i>  {% trans "Logout" %}
                </a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <!-- -->
      <div class="container-fluid">
        {% block content %}
        {% endblock %}
        
    </div>
    <!-- /#page-content-wrapper -->

  </div>

{% endblock %}
